<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img src="{{producto.img}}"></ion-img>
        <h1>
          {{producto.nombre}}
        </h1>

        <h2> {{producto.descripcion}}</h2>

      <ion-item>
        <ion-buttons  slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h2> $ {{producto.precio}}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
