<ion-item color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="menu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Producto</ion-title>
</ion-item>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img src="{{producto.img}}"></ion-img>
        <h1>
          {{producto.nombre}}
        </h1>
        <h2> {{producto.descripcion}}</h2>
      <ion-item>
        <ion-buttons  slot="end">
          <ion-button (click)="openCart()">
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h2> $ {{producto.precio}}</h2>
      </ion-item>
      <ion-item>
        <h2>Cantidad: {{producto.stock}}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" *ngIf="this.productosService.carrito.length > 0" [routerLink]="'/carrito'">
    Ver carrito
  </ion-button>
</ion-content>
