
<ion-content>
  <div class="preview">
    <ion-avatar>
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
  </div>
  <h1 class="ion-text-center">Username</h1>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-center">Pedidos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center">Configuraciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center">Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
