<ion-item>
  <ion-buttons slot="start">
    <ion-button (click)="menu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>

<ion-content>
  <div class="preview">
    <ion-avatar>
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
  </div>
  <h1 class="ion-text-center">Username</h1>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-center" [routerLink]="'/account/pedidos'">Pedidos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center" [routerLink]="'/account/configuraciones'">Configuraciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center" (click)="logout()">Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
